[submodule "MagmaJson"]
	path = MagmaJson
	url = https://github.com/JustMaths/MagmaJson
	branch = master
[submodule "DecomposedGModules"]
	path = DecomposedGModules
	url = https://github.com/JustMaths/DecomposedGModules
	branch = development
[submodule "FusionLaws"]
	path = FusionLaws
	url = https://github.com/JustMaths/FusionLaws
